        * {
            margin: 0%;
            padding: 0%;
            font-family: 'Merriweather Sans', sans-serif;
            box-sizing: border-box;
        }

        .container {
            width:80%;
            padding: 0%;
            height: auto;
            margin:auto;
            max-width: 100%px;
            overflow: hidden;
            
        }

        /* ---header--- */
        header {

            position: absolute;
            width: 100%;
            min-height: 100px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.226);
            z-index: 1;

            
        }

        header ul {
            margin-right: 0px;
            padding: 0;
            
        }

        header li {
            display: inline-block;
            padding: 0px 6px 68px 6px;
            margin: 0 5px;
            
            

        }

        a{
            text-decoration: none;
            color: white;
        }

        header li:hover{
            border-bottom: 2px solid white;
        }
        
        nav.nav-bar {
            
            float: right;
            margin-top: 50px;
            
            }

        header .main-head {
            font-family: 'Lilita One', cursive;
            float: left;
            font-size: 2.5rem;
            color: #ffffff;
            margin-top: 20px;
          
            text-align: center;
            


        }

        header li:active{
            color: royalblue;
        }
        
        
           
    
    
        /* --header end-- */


        /* ---main front image---- */
.main-img { 
            position: relative;
            height:100vh;
            background-attachment: fixed;
            background-size: cover;
            object-fit: left;
            text-align: center;
            color: rgb(253, 253, 253);
            animation: animate 40s ease infinite;
}

        @keyframes animate{
            0%, 100%{
                background-image: url(images/1.jpg);
            }
            25%{
                background-image: url(images/2.jpg);
            }
            50%{
                background-image: url(images/3.jpg);
            }
            75%{
                background-image: url(images/4.jpg);
            }
        }
            
            
        

.main-img-text {
            width: 100%;
            height: 700px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
           overflow: hidden;
           
           
        }
.main-img h1 {
            font-size: 80px;
        }

        

        

        /* ----spliter--- */
#splliter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#spliter-box{
    padding-top:20px ;
    
    width: 300px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 10px 0px rgb(226, 226, 226);
    text-align: center;
    flex-grow: 1;
}

.spliter h1{
    color: rgb(0, 160, 253);
    font-family:monospace sans-serif;
    font-weight: lighter;
    
    font-size: 16px;
}
.spliter h3{
    color: rgb(61, 61, 61);
    font-family: monospace sans-serif;
    font-weight: lighter;
    font-size: 15px;
}




        /* --splitter end---- */


         /*-----main content boxes-----*/
section.content-boxes{
    max-width: 100%;
    
}
.parent-box{
    margin-top: 100px;
    
}
.child-flex-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 20px auto;
    margin-bottom: 200px;
}
.flex-box-img{
    overflow: hidden;

    width: 50%;
    height:100%;    
}
.flex-box-img img{
    height: 310px;
    
}
.flex-box-text{

    width: 50%;
    height: 100%;
    z-index: 1;
}

#child-box-1 .flex-box-img img{
width: 100%;
height: 100%;
}

#child-box-1 .flex-box-text{
    padding: 15px 20px;
}
#child-box-1 .flex-box-text span{
    font-size: 30px;
    font-weight: bold;
}

#child-box-2{
    margin-right: 0;   
}
#child-box-2 .flex-box-img img{
 float: right;
}

#child-box-3{
    margin-left: 0;   
}

.heading{
    padding: 30px 0px;
    font-weight: lighter;
    color: rgb(61, 60, 60);
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;

    
}


#child-box-2 .flex-box-text, p{
    z-index: 1;
}

.flex-box-text p{
    width: 100%;
    height: 100%;
    text-align: justify;
    word-spacing:5px;

    color: rgb(83, 83, 83);
    font-size: 16px;
    font-weight: 300;
}

@media (max-width:1000px){

    .child-flex-boxes{flex-direction: column;}
    .flex-box-img, .flex-box-text{ width: 100%;}
    .flex-box-img img{width: 100%; height: 100%;}
    
}

        /* before footer bar */
.before-footer-bar{
    width: 100%;
    height: 50px;
    background-color:#79d70f;
}



        /* --footer-- */

.footer-bar .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.footer-bar .flex-container > div{
    width: 270px;
    height: 295px;
    
    
}
        
.footer-bar{
    
    background-color: #272424;
    width: 100%;
    height: 100%;
    
}
.footer-img{
 width: 270px;
 height: 200px;
 
}

.footer-img img{
    float: right;
margin: 10px 20px;    
height: 120px;

}

/* newsletter */
.newsletter{
    width: 270px;
    height: 40px;
    margin-top: 20px;
    
    } 

.newsletter input{
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    float: left;
    width: 180px;
    height: 40px;
    color: rgb(126, 125, 125);
    background-color: rgb(226, 223, 223);
    
}

button{
    color: white;
    border-radius: 0px 5px 5px 0px ;
    background-color:#79d70f;
    text-transform: uppercase;
    border: none;
    float: left;
    width: 90px;
    height: 40px;
}
.footer-bar .flex-container ul{
    color: rgb(100, 100, 100);
    font-size: 14px;
    line-height: 20px;
    
} 
.footer-bar .flex-container ul i{
    color: #7ad70f91;
}
.footer-bar .flex-container ul li{
    list-style: none;
    color: rgb(92, 92, 92);
    padding: 10px;
    font-size: 14px;
}
.footer-bar .flex-container ul li:hover{
    color: #79d70f;
}
.footer-bar .flex-container ul h4{
    font-size: 18px;
    color: #79d70f;
    padding: 20px 0px;
}
.copyright{
    width: 100%;
    height: 100%;
    padding: 5px 0px;
    background-color: rgb(48, 48, 48);
    text-align: start;
    color: rgb(104, 103, 103);
    font-size: 14px;
    font-weight: lighter;
}
.copyright p{
    margin-left:130px ;
}
