* {
    margin: 0%;
    padding: 0%;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    background-color: black;
    height: 100%;
    width: 100%;
}
.container {
    width:80%;
    padding: 0%;
    height: 100%;
    margin:0 auto;
    max-width: 100%;
    overflow: hidden;
    
}
/* ---header--- */
header {
    
    position: absolute;
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    z-index: 1;

    
}




header ul {
    margin-right: 0px;
    padding: 0;
    
}

header li {
    display: inline-block;
    padding: 0px 6px 68px 6px;
    margin: 0 5px;
    
    

}
a{
    text-decoration: none;
    color: #ffff;
}
header li:hover{
    border-bottom: 2px solid white;
}

nav.nav-bar {
    
    float: right;
    margin-top: 50px;
    
    }

header .main-head {
    font-family: 'Lilita One', cursive;
    float: left;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow:0px 0px 25px rgba(0, 0, 0, 0.26);
    margin-top: 20px;
  padding-left: 10px;
    text-align: center;
    


}
header li:active{
    color: royalblue;
}


/* --header end-- */

section.main-img{
width: 100%;
background-image: url(../../images/bbbb.jpg);
background-repeat: no-repeat;
background-position: -300px 0px ;
}

.main-img-text {
width: 700px;
height: 150px;
box-sizing: border-box;
overflow: hidden;
position: relative;
left: 500px;
color: white;
}

.main-img h1 {
font-size: 80px;
}

/* order-section */

.order-section{
    width: 100%;
    height: 100%;
    
}


.order-section .order-form{
    width: 800px;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 40px;
}

.order-section .form-part{
    width: 550px;
    float: right;
    height: 700px;
    background-color: rgba(48, 48, 48, 0.829);
    border-radius: 0px 25px 25px 0px;
}
.order-section .rest-form-part{
    color: white;
    font-size: 40px;
    font-weight: 600;
    width: 250px;
    float: left;
    height: 700px;
    border-radius: 25px 0px 0px 25px;
    background-color: #79d70f;
}
.order-section .rest-form-part p{
    padding:15px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.884);
}
form{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 10px;
    color: black;
}
form .submit{
    
    width: 130px;
    height: 40px;
    border: none;
    background-color: #79d70f;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 20px;
    outline: none;
    
}
form input{
    color: white;
    width: 40%;
    height: 40px;
    margin: 10px auto;
    background-color: rgba(61, 61, 61, 0.267);
    border: none;
    border-left: 3px solid #79d70f;
    margin-left: 10px;
    outline: none;
    padding: 3px 6px;
}
form textarea{
    color:#ffff;
    margin-left: 10px;
    width: 90%;
    margin: 10px 10px;
    resize: none;
    outline: none;
    background-color: rgb(160, 158, 158);
    border: none;
    border-left:3px solid #79d70f;
    padding: 10px;
    
}

form #cnic, #address{
    width: 100%;
    margin-right: 25px;
}

.option-container{
    margin-left: 10px;
    width: 70%;
    height: 100%;
    padding: 10px 0px;
    display: inline-block;
    
}
.option-container h4{
    display: inline;
}
.option-container #quantity{
    margin-left: 80px;
}
.option-container #delivery{
    margin-left: 83px;
}
.option-container #pay-time{
    margin-left: 33px;
}
.option-container #pay-method{
    margin-left: 17px;
}
select{
    margin-top: 10px;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #79d70f;
    border: none;
    outline: none;
}
form h4{
    color: white;
}

form select option{
    background-color: rgb(177, 175, 175);
    color: rgb(29, 29, 29);
    outline: none;
    border-radius: 5px;
}


/* order-section-end */

/* ----spliter--- */
#splliter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    #spliter-box{
    padding-top:20px ;
    
    width: 300px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex-grow: 1;
    }
    
    .spliter h1{
    color: rgb(0, 160, 253);
    font-family:monospace sans-serif;
    font-weight: lighter;
    
    font-size: 16px;
    }
    .spliter h3{
    color: rgb(61, 61, 61);
    font-family: monospace sans-serif;
    font-weight: lighter;
    font-size: 15px;
    }
    
    
    
    
    /* --splitter end---- */

/* before footer bar */
.before-footer-bar{
    width: 100%;
    height: 50px;
    background-color:#79d70f;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.315) ;
    }
    
    
    
    /* --footer-- */
    .footer-bar{
        
        box-sizing: border-box;
        background-color: #272424;
        width: 100%;
        height: 100%;
        
        }
    
    .footer-bar .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    }
    
    .footer-bar .flex-container > div{
    width: 270px;
    height: 295px;
    }
    
    
    
    .footer-img{
    width: 270px;
    height: 200px;
    
    }
    
    .footer-img img{
    float: right;
    margin: 10px 20px;    
    height: 120px;
    
    }
    
    /* newsletter */
    .newsletter{
    width: 270px;
    height: 40px;
    margin-top: 20px;
    
    } 
    
    .newsletter input{
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    float: left;
    width: 180px;
    height: 40px;
    color: rgb(126, 125, 125);
    background-color: rgb(226, 223, 223);
    
    }
    
    button{
    color: white;
    border-radius: 0px 5px 5px 0px ;
    background-color:#79d70f;
    text-transform: uppercase;
    border: none;
    float: left;
    width: 90px;
    height: 40px;
    }
    
    .footer-bar .flex-container ul{
    color: rgb(100, 100, 100);
    font-size: 14px;
    line-height: 20px;
    
    } 
    .footer-bar .flex-container ul i{
    color: #7ad70f91;
    }
    .footer-bar .flex-container ul li{
    list-style: none;
    color: rgb(121, 119, 119);
    padding: 10px;
    font-size: 14px;
    }
    .footer-bar .flex-container ul li:hover{
    color: #aadb72;
    }
    .footer-bar .flex-container ul h4{
    font-size: 18px;
    color: #9be04d;
    padding: 20px 0px;
    }
    .copyright{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 5px 0px;
    background-color: rgb(48, 48, 48);
    text-align: start;
    color: rgb(104, 103, 103);
    font-size: 14px;
    font-weight: lighter;
    }
    .copyright p{
    margin-left:130px ;
    }